<html>
    <head>
        <title>UX 2 Learn</title>

        <!-- Meta stuff for mobile devices -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">

        <!-- Put links to stylesheet here -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        
        <!-- External scripts here -->
        <script src="js/jquery-1.11.0.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/script.js"></script>
        
    </head>

    <div id="container">
        <body>
            <center>
                <h1>UX 2 Learn</h1>
                Brainstorming Tutorial<br>
                <hr>

                <div id="content">
                    {{{body}}}
                </div>

                <br>
            </center>

        </body>
    </div>
</html>
