<html>
    <head>
        <title>Test Page</title>

        <!-- Meta stuff for mobile devices -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">

        <!-- Put links to stylesheet here -->
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/bootstrap-theme.css">
        <link ref="stylesheet" type="text/css" href="css/style.css">
        
        <!-- External scripts here -->
        <script src="js/boostrap.js"></script>
        <script src="js/script.js"></script>
        
    </head>

    <body>
        <center>
            <h1>LearningBros (Tentative Title)</h1>
            Brainstorming Tutorial<br>
            <hr>

            <br><br><br>
            <div id="content">
                <p>Press "Begin" or pick a step to skip to</p>
            </div>
            
            <br><br>
        </center>

    </body>
</html>