<html>
    <head>
	    <title>Test Page</title>
        
        <!-- Put links to stylesheet here -->
        <link ref="stylesheet" type="text/css" href="css/style.css">
    </head>
    
    <body>
        <center>
            <h1>LEARNING BROS</h1>
            Brainstorming Tutorial<br>
            
            DOes this work<input type="radio"></input>
            
            <br><br><br>
            <div id="zomg">
                YO FILL IN TEN WORDS
                <br><br>
                1:<input type="text"></input><br>
                2:<input type="text"></input><br>
                3:<input type="text"></input><br>
                4:<input type="text"></input><br>
                5:<input type="text"></input><br>
                6:<input type="text"></input><br>
                IM TOO LAZY TO ADD ANYMORE
            </div>
            <br><br>
            PRESS THE CONTINUE BUTTON TO CONTINUE<br>
            <input type="button" value="CONTINUE" onclick="zomg()"></input>
        </center>
    </body>
</html>
