<html>
    <head>
        <title>Test Page</title>

        <!-- Meta stuff for mobile devices -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">

        <!-- Put links to stylesheet here -->
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/bootstrap-theme.css">
        <link ref="stylesheet" type="text/css" href="css/style.css">
        
        <!-- External scripts here -->
        <script src="js/boostrap.js"></script>
        <script src="js/script.js"></script>
        
    </head>

    <body>
        <center>
            <h1>LEARNING BROS</h1>
            <hr>
            Brainstorming Tutorial<br>

            <br><br><br>
            <div id="content">
                
            </div>
            <br><br>
            PRESS THE CONTINUE BUTTON TO CONTINUE<br>
            <input type="button" value="CONTINUE" onclick="zomg()"></input>
        </center>

    </body>
</html>