<html>
    <head>
	    <title>Test Page</title>
        
        <!-- Meta stuff for mobile devices -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        
        <!-- Put links to stylesheet here -->
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/bootstrap-theme.css">
        <link ref="stylesheet" type="text/css" href="css/style.css">
    </head>
    
    <body>
        <center>
            <h1>LEARNING BROS</h1>
            Brainstorming Tutorial<br>
            
            DOes this work<input type="radio"></input>
            
            <br><br><br>
            <div id="zomg">
                YO FILL IN TEN WORDS
                <br><br>
                1:<input type="text"></input><br>
                2:<input type="text"></input><br>
                3:<input type="text"></input><br>
                4:<input type="text"></input><br>
                5:<input type="text"></input><br>
                6:<input type="text"></input><br>
                7:<input type="text"></input><br>
                8:<input type="text"></input><br>
                9:<input type="text"></input><br>
                10:<input type="text"></input><br>
            </div>
            <br><br>
            PRESS THE CONTINUE BUTTON TO CONTINUE<br>
            <input type="button" value="CONTINUE" onclick="zomg()"></input>
        </center>
        
        <!-- putting the external script here i guess -->
	<script src="js/boostrap.js">
        <script src="js/script.js">
    </body>
</html>
