<form action="/login" method="post">
<br>
<input type="text" name="username" placeholder="Username" required></input><br>
<input type="password" name="passwd" placeholder="Password" required></input><br>
<br>

{{#if failLogin}}
<div class="alert alert-danger">
    Bad login
</div>
{{/if}}

<button type="submit" class="btn btn-primary">Login</button>
</form>
<br>
<br>
<br>
Don't have an account?<br>
Continue as a guest instead.<br><br>
<a href="page0" class="btn btn-primary">Continue as Guest</a>
