<p>Tap on a step to begin</p>

<div class="container">
    <div class="row top-buffer">
        <div class="col-xs-6">
            <a href="page1" class="btn btn-default btn-block uxbtn">
                <div class="btncontent">1<br>SCOPING</div>
            </a>
        </div>
        <div class="col-xs-6">
            <a href="page2" class="btn btn-default btn-block uxbtn btn-default btn-block uxbtn">
                <div class="btncontent">2<br>RESEARCH</div>
            </a>
        </div>
    </div>

    <div class="row top-buffer">
        <div class="col-xs-6"> </div>
        <div class="col-xs-6">
            <a href="page4" class="btn btn-default btn-block uxbtn btn-default btn-block uxbtn">
                <div class="btncontent">3<br>ANALYSIS</div>
            </a>
        </div>
    </div>

    <div class="row top-buffer">
        <div class="col-xs-6">
            <a href="page5" class="btn btn-default btn-block uxbtn btn-default btn-block uxbtn">
                <div class="btncontent">5<br>INFO ARCH</div>
            </a>
        </div>
        <div class="col-xs-6">
            <a href="page6" class="btn btn-default btn-block uxbtn btn-default btn-block uxbtn">
                <div class="btncontent">4<br>IDEATION</div>
            </a>
        </div>
    </div>

    <div class="row top-buffer">
        <div class="col-xs-6">
            <a href="page7" class="btn btn-default btn-block uxbtn btn-default btn-block uxbtn">
                <div class="btncontent">6<br>UI DESIGN</div>
            </a>
        </div>
        <div class="col-xs-6"></div>
    </div>

    <div class="row top-buffer">
        <div class="col-xs-6">
            <a href="page7" class="btn btn-default btn-block uxbtn btn-default btn-block uxbtn">
                <div class="btncontent">7<br>PROTOTYPING</div>
            </a>
        </div>
        <div class="col-xs-6">
            <a href="page8" class="btn btn-default btn-block uxbtn btn-default btn-block uxbtn">
                <div class="btncontent">8<br>TESTING</div>
            </a>
        </div>
    </div>
</div>
