<p>Tap on a corresponding step to begin</p>

<a href="page1">
    1<img src="img/test1.png" class="image">
</a>
<a href="page2">
    2<img src="img/test1.png" class="image">
</a>
<br>

<a href="page3">
    3<img src="img/test1.png" class="image">
</a>
<a href="page4">
    4<img src="img/test1.png" class="image">
</a>
<br>

<a href="page5">
    5<img src="img/test1.png" class="image">
</a>
<a href="page6">
    6<img src="img/test1.png" class="image">
</a>
<br>

<a href="page7">
    7<img src="img/test1.png" class="image">
</a>
<a href="page8">
    8<img src="img/test1.png" class="image">
</a>
