<h3>Related words</h3>
<br>
<p>Fill in 5-10 words that relate to your idea.</p>
1.<input type="text"></input><br>
2.<input type="text"></input><br>
3.<input type="text"></input><br>
4.<input type="text"></input><br>
5.<input type="text"></input><br>
6.<input type="text"></input><br>
7.<input type="text"></input><br>
8.<input type="text"></input><br>
9.<input type="text"></input><br>
10.<input type="text"></input><br>

<input type="button" value="submit" name="Continue">