<h3>Storyboarding</h3>

<p>
    Use your point of view and inspirations to come up with three different design ideas that engage your point of view to address a user need.
</p>

<form id="storyboardingform">
    <textarea cols="30" rows="4" id="story1text">{{ ux2data.story1text }}</textarea>
    <br><br>
    <textarea cols="30" rows="4" id="story2text">{{ ux2data.story2text }}</textarea>
    <br><br>
    <textarea cols="30" rows="4" id="story3text">{{ ux2data.story3text }}</textarea>
</form>

<a href="page6" class="btn btn-primary btn-primary-active">Back</a>
<a href="page8" class="btn btn-primary btn-primary-active">Continue</a>