<h3>Information Architecture</h3>

<p>
text
</p>

<p>
<img src="/img/spook.png"></img>
</p>

<a href="page4" class="btn btn-primary btn-primary-active">Back</a>
<a href="page6" class="btn btn-primary btn-primary-active">Continue</a>