<h3>Step 3: Point of View <button onclick="showHint(1)" class="btn-hint">?</button></h3>

<div class="hidden-info" id="hidden-info1">
    <p>
        A point of view is a general statement that describes a core problem in relation to the goal of your app.
    </p>
</div>

<p>
	An important step in developing your app is clearly defining the problem your app will solve. This is done using a point of view statement. The point of view should address a deep user need and take a high-level design strategy without offering any concrete solutions. 
</p>

<br>
<a href="https://www.interaction-design.org/literature/article/define-and-frame-your-design-challenge-by-creating-your-point-of-view-and-ask-how-might-we" target="_blank" class="btn btn-primary btn-primary-active">Learn More</a>
<a href="https://docs.google.com/document/d/1fTRq4ADe4oy_OIkrs3RLVWOTOBr3AMfhEaj3TxsrqEI/edit" target="_blank" class="btn btn-primary btn-primary-active">Examples</a>
<br>
<br>

<p>
    Based off the user needs you wrote down in the last step, write a 1-2 sentence point of view that describes a core problem in relation to the activity you chose.
</p>

<form id="povform">
    <textarea cols="30" rows="12" id="povform1">{{ ux2data.povform1 }}</textarea>
</form>
<br>
<br>

<a href="page2" class="btn btn-primary btn-primary-active">Previous Step</a>
<button class="btn btn-primary btn-primary-active" onclick='upData("povform", 1, "page4")'>Next Step</button>


<!----------------------------------- Screen Overlay ---------------------------------->

<div id="myNav" class="overlay">

    <!-- Button to close the overlay navigation -->
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <!-- Overlay content -->
    <div class="overlay-content">
        <div class="container">
            <div class="row top-buffer">
                <div class="col-xs-6">
                    <a href="page1" class="btn btn-default btn-block uxbtn">
                        <div class="btncontent">1<br>USER BASE</div>
                    </a>
                </div>
                <div class="col-xs-6">
                    <a href="page2" class="btn btn-default btn-block uxbtn">
                        <div class="btncontent">2<br>NEEDFINDING</div>
                    </a>
                </div>
            </div>

            <div class="row top-buffer">
                <div class="col-xs-6"> </div>
                <div class="col-xs-6">
                    <a href="page3" class="btn btn-default btn-block uxbtn">
                        <div class="btncontent">3<br>POINT OF VIEW</div>
                    </a>
                </div>
            </div>

            <div class="row top-buffer">
                <div class="col-xs-6">
                    <a href="page5" class="btn btn-default btn-block uxbtn">
                        <div class="btncontent">5<br>INSPIRATIONS</div>
                    </a>
                </div>
                <div class="col-xs-6">
                    <a href="page4" class="btn btn-default btn-block uxbtn">
                        <div class="btncontent">4<br>IDEATION</div>
                    </a>
                </div>
            </div>

            <div class="row top-buffer">
                <div class="col-xs-6">
                    <a href="page6" class="btn btn-default btn-block uxbtn">
                        <div class="btncontent">6<br>ANALYSIS</div>
                    </a>
                </div>
                <div class="col-xs-6"></div>
            </div>

            <div class="row top-buffer">
                <div class="col-xs-6">
                    <a href="page7" class="btn btn-default btn-block uxbtn">
                        <div class="btncontent">7<br>STORYBOARDING</div>
                    </a>
                </div>
                <div class="col-xs-6">
                    <a href="page8" class="btn btn-default btn-block uxbtn">
                        <div class="btncontent">8<br>RESULTS</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
