<h3>Step 7: Storyboarding</h3>

<p>
    Use your point of view and inspirations to come up with three different design ideas that engage your point of view to address a user need.
</p>

<form id="storyboardingform">
    <textarea cols="30" rows="4" id="storytext1">{{ ux2data.storytext1 }}</textarea>
    <br><br>
    <textarea cols="30" rows="4" id="storytext2">{{ ux2data.storytext2 }}</textarea>
    <br><br>
    <textarea cols="30" rows="4" id="storytext3">{{ ux2data.storytext3 }}</textarea>
</form>

<a href="page6" class="btn btn-primary btn-primary-active">Previous Step</a>
<button class="btn btn-primary btn-primary-active" onclick='upData("storytext", 3, "page8")'>Next Step</button>