<h4>User experience design can be broken down into 7 steps: </h4>

 <ol type="1">
  <li>User base</li>
  <li>Needfinding</li>
  <li>Point of view</li>
  <li>Ideation</li>
  <li>Inspirations</li>
  <li>Analysis</li>
  <li>Storyboarding</li>
</ol> 

<h4>Each step builds off of previous steps, so make sure to take your time and answer all questions thoroughly. Good luck!</h4>

<br>
<a href="page1" class="btn btn-primary btn-primary-active" onclick="return A_begin();">Begin Tutorial</a>

<!----------------------------------- Screen Overlay ---------------------------------->

<div id="myNav" class="overlay">

    <!-- Button to close the overlay navigation -->
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <!-- Overlay content -->
    <div class="overlay-content">
        <div class="container">
            <div class="row top-buffer">
                <div class="col-xs-6">
                    <a href="page1" class="btn btn-default btn-block uxbtn">
                        <div class="btncontent">1<br>USER BASE</div>
                    </a>
                </div>
                <div class="col-xs-6">
                    <a href="page2" class="btn btn-default btn-block uxbtn">
                        <div class="btncontent">2<br>NEEDFINDING</div>
                    </a>
                </div>
            </div>

            <div class="row top-buffer">
                <div class="col-xs-6"> </div>
                <div class="col-xs-6">
                    <a href="page3" class="btn btn-default btn-block uxbtn">
                        <div class="btncontent">3<br>POINT OF VIEW</div>
                    </a>
                </div>
            </div>

            <div class="row top-buffer">
                <div class="col-xs-6">
                    <a href="page5" class="btn btn-default btn-block uxbtn">
                        <div class="btncontent">5<br>INSPIRATIONS</div>
                    </a>
                </div>
                <div class="col-xs-6">
                    <a href="page4" class="btn btn-default btn-block uxbtn">
                        <div class="btncontent">4<br>IDEATION</div>
                    </a>
                </div>
            </div>

            <div class="row top-buffer">
                <div class="col-xs-6">
                    <a href="page6" class="btn btn-default btn-block uxbtn">
                        <div class="btncontent">6<br>ANALYSIS</div>
                    </a>
                </div>
                <div class="col-xs-6"></div>
            </div>

            <div class="row top-buffer">
                <div class="col-xs-6">
                    <a href="page7" class="btn btn-default btn-block uxbtn">
                        <div class="btncontent">7<br>STORYBOARDING</div>
                    </a>
                </div>
                <div class="col-xs-6">
                    <a href="page8" class="btn btn-default btn-block uxbtn">
                        <div class="btncontent">8<br>RESULTS</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Use any element to open/show the overlay navigation menu -->
<!-- <span onclick="openNav()">open</span> -->
<button onclick="return A_skip();" class="btn btn-primary btn-primary-active">Skip to a Step</button>

<!------------------------------------------------------------------------------------->


<!--
<div class="container">
    <div class="row top-buffer">
        <div class="col-xs-6">
            <a href="page1" class="btn btn-default btn-block uxbtn">
                <div class="btncontent">1<br>USER BASE</div>
            </a>
        </div>
        <div class="col-xs-6">
            <a href="page2" class="btn btn-default btn-block uxbtn">
                <div class="btncontent">2<br>NEEDFINDING</div>
            </a>
        </div>
    </div>

    <div class="row top-buffer">
        <div class="col-xs-6"> </div>
        <div class="col-xs-6">
            <a href="page3" class="btn btn-default btn-block uxbtn">
                <div class="btncontent">3<br>POINT OF VIEW</div>
            </a>
        </div>
    </div>

    <div class="row top-buffer">
        <div class="col-xs-6">
            <a href="page5" class="btn btn-default btn-block uxbtn">
                <div class="btncontent">5<br>INSPIRATIONS</div>
            </a>
        </div>
        <div class="col-xs-6">
            <a href="page4" class="btn btn-default btn-block uxbtn">
                <div class="btncontent">4<br>IDEATION</div>
            </a>
        </div>
    </div>

    <div class="row top-buffer">
        <div class="col-xs-6">
            <a href="page6" class="btn btn-default btn-block uxbtn">
                <div class="btncontent">6<br>ANALYSIS</div>
            </a>
        </div>
        <div class="col-xs-6"></div>
    </div>

    <div class="row top-buffer">
        <div class="col-xs-6">
            <a href="page7" class="btn btn-default btn-block uxbtn">
                <div class="btncontent">7<br>STORYBOARDING</div>
            </a>
        </div>
        <div class="col-xs-6">
            <a href="page8" class="btn btn-default btn-block uxbtn">
                <div class="btncontent">8<br>RESULTS</div>
            </a>
        </div>
    </div>
</div>
//-->
