<h3>Related words</h3>
<br>
<p>Fill in 5-10 words that relate to your idea.</p>
<input type="text"></input><br>
<input type="text"></input><br>
<input type="text"></input><br>
<input type="text"></input><br>
<input type="text"></input><br>
<input type="text"></input><br>
<input type="text"></input><br>
<input type="text"></input><br>
<input type="text"></input><br>
<input type="text"></input><br>
<br>

<input type="button" value="submit" name="Continue">