<<<<<<< HEAD
<h3>Point of View</h3>

<p>
    Based off the user needs you wrote down in the previous step, write a 1-2 sentence point of view. A point of view describes a core problem in relation to the activity you chose.
</p>
<br>

<p class="hint">
    (The point of view should address a deep user need and take a high-level design strategy without offering any concrete solution.)
=======
<h3>User Base</h3>
<br>
<p>
Based off the user needs you wrote down in the last step, write a 1-2
sentence point of view that describes a core problem in relation to the
activity you chose.
>>>>>>> 5f03beb072c32ff6fcfd610492ee2a88c9fa3026
</p>
<p><i>The point of view should address a deep user need and take a high-level
    design strategy without offering any concrete solutions.</i></p>

<<<<<<< HEAD
<form class="reallybigtextbox" id="povForm">
    <input type="text" class="reallybigtextbox"></input>
    <br>

    <a href="page2" class="btn btn-primary btn-primary-active">Back</a>
    <a href="page4" class="btn btn-primary btn-primary-active">Continue</a>
</form>
=======
<form id="userbaseform">
<textarea cols="30" rows="12">
</textarea>
<br>
<br>
<a href="page0" class="btn btn-primary">Back</a>
<a href="page2" class="btn btn-primary">Continue</a>
</form>
>>>>>>> 5f03beb072c32ff6fcfd610492ee2a88c9fa3026
