<h3>Competitive Analysis</h3>

<p>
List a few attributes for each of your inspirations in the first 3 boxes. In
the 4th box, compare the inspirations to see what attributes they are missing.
What gaps can your app fill in?
</p>


<a href="page5" class="btn btn-primary btn-primary-active">Back</a>
<a href="page7" class="btn btn-primary btn-primary-active">Continue</a>
