<h3>Congratulations, you finished! :D</h3>

<div>
    <img style="max-width: 90%" src="/img/cookie.png"></img>
</div>

<h5>Want to reference the data you inputted?</h5>
<h5>Click on the title to return to the homescreen and choose a step to navigate to that page!</h5>

<!-- goodnight sweet prince
<div class="progress">
    <img src="/img/progress100.png"></img>
</div>
-->
