<h3>Step 1: <a href="#" onclick=showHint()>User Base</a></h3>

<p>Observe people partaking in various everyday activites and brainstorm
potential app designs that could make those activites more efficient.</p>

<div id="hidden-info">
    <p>
        Your user base is the type of person or persons that your idea is targeted towards.
        <br>
        Think of average everyday problems and consider alternative solutions to them through your idea.
    </p>
</div>

<form id="userbaseform">
    <textarea cols="30" rows="12" id="userbasetext1">{{ ux2data.userbasetext1 }}</textarea>
</form>


<br>
<br>
<a href="page0" class="btn btn-primary btn-primary-active">Previous Step</a>
<button class="btn btn-primary btn-primary-active" onclick='upData("userbasetext", 1, "page2")'>Next Step</button>