<h3>User Base</h3>
<br>
<p>Observe people partaking in various everyday activites and brainstorm
potential app designs that could make those activites more efficient.</p>

<!-- how do get input and put into json or whatever >.> -->
<form id="userbaseform">
    <textarea cols="30" rows="12" id="userbasetext">{{ ux2data.userbasetext }}</textarea>
</form>

<br>
<br>
<a href="page0" class="btn btn-primary btn-primary-active">Back</a>
<button class="btn btn-primary btn-primary-active" onclick='upData("userbasetext", "page2")'>Continue</button>
