<h4> 
    Welcome to UX2Learn, an app designed to help you brainstorm ideas for designing a web application!
</h4>

<br>

<h4>User experience design can be broken down into 7 steps: </h4>

<p>User base</p>
<p>Needfinding</p>
<p>Point of view</p>
<p>Ideation</p>
<p>Inspirations</p>
<p>Analysis</p>
<p>Storyboarding</p> 

<br>

<h4>Each step builds off of previous steps, so make sure to take your time and answer all questions thoroughly.</h4>

<br>
<a href="page1" class="btn btn-primary btn-primary-active" onclick="return A_begin();">Begin Brainstorming!</a>
