<h3>User Base</h3>
<br>
<p>Observe... </p>
<br>

<!-- <input type="button" value="submit" name="Continue"> -->
<a href="page0" class="btn btn-primary">Back</a>
<a href="page2" class="btn btn-primary">Continue</a>