<h3>Ideation</h3>
<br>
<p>Write down 5-10 words that relate to your design idea or point 
of view. These words cna be anything - from similar designs to 
feelings that the idea invokes.</p>
<input type="text"></input><br>
<input type="text"></input><br>
<input type="text"></input><br>
<input type="text"></input><br>
<input type="text"></input><br>
<input type="text"></input><br>
<input type="text"></input><br>
<input type="text"></input><br>
<input type="text"></input><br>
<input type="text"></input><br>
<br>

<a href="page3" class="btn btn-primary btn-primary-active">Back</a>
<a href="page5" class="btn btn-primary btn-primary-active">Continue</a>