<h3>Needfinding</h3>
<br>
<p>Use your observations and findings to brainstorm a list of 
specific user needs.</p>
<p>(User needs are opportunities for design innovation that would enable
computers to better support the activity you observed.)</p>
<form>
    <input type="text"></input><br>
    <input type="text"></input><br>
    <input type="text"></input><br>
    <input type="text"></input><br>
    <input type="text"></input><br>
    <input type="text"></input><br>
    <input type="text"></input><br>
    <input type="text"></input><br>
    <input type="text"></input><br>
    <input type="text"></input><br>
    <br>

    <a href="page1" class="btn btn-primary btn-primary-active">Back</a>
    <a href="page3" class="btn btn-primary btn-primary-active">Continue</a>
</form>