<h3>Step 5: Inspiration Board</h3>

<p>
Now come up with 3 inspirations for your app design. Give a short
explanation for why you chose each one. Include a link so you can
reference it later.
</p>

<form id="inspirationform">
    <textarea cols="30" rows="4" id="inspirationtext1">{{ ux2data.inspirationtext1 }}</textarea>
    <br>
    <textarea cols="30" rows="4" id="inspirationtext2">{{ ux2data.inspirationtext2 }}</textarea>
    <br>
    <textarea cols="30" rows="4" id="inspirationtext3">{{ ux2data.inspirationtext3 }}</textarea>
</form>

<a href="page4" class="btn btn-primary btn-primary-active">Previous Step</a>
<button class="btn btn-primary btn-primary-active" onclick='upData("inspirationtext", 3, "page6")'>Next Step</button>