<p>Tap on a step to begin</p>

<div class="container">
    <div class="row top-buffer">
        <div class="col-xs-6">
            <a href="page1" class="btn btn-default btn-block uxbtn">
                <div class="btncontent">1<br>USER BASE</div>
            </a>
        </div>
        <div class="col-xs-6">
            <a href="page2" class="btn btn-default btn-block uxbtn">
                <div class="btncontent">2<br>NEEDFINDING</div>
            </a>
        </div>
    </div>

    <div class="row top-buffer">
        <div class="col-xs-6"> </div>
        <div class="col-xs-6">
            <a href="page3" class="btn btn-default btn-block uxbtn">
                <div class="btncontent">3<br>POINT OF VIEW</div>
            </a>
        </div>
    </div>

    <div class="row top-buffer">
        <div class="col-xs-6">
            <a href="page5" class="btn btn-default btn-block uxbtn">
                <div class="btncontent">5<br>INSPIRATION BOARD</div>
            </a>
        </div>
        <div class="col-xs-6">
            <a href="page4" class="btn btn-default btn-block uxbtn">
                <div class="btncontent">4<br>IDEATION</div>
            </a>
        </div>
    </div>

    <div class="row top-buffer">
        <div class="col-xs-6">
            <a href="page6" class="btn btn-default btn-block uxbtn">
                <div class="btncontent">6<br>ANALYSIS</div>
            </a>
        </div>
        <div class="col-xs-6"></div>
    </div>

    <div class="row top-buffer">
        <div class="col-xs-6">
            <a href="page7" class="btn btn-default btn-block uxbtn">
                <div class="btncontent">7<br>STORYBOARDING</div>
            </a>
        </div>
        <div class="col-xs-6">
            <a href="page8" class="btn btn-default btn-block uxbtn">
                <div class="btncontent">8<br>TESTING</div>
            </a>
        </div>
    </div>
</div>

<br>
<div>
    <a href="page10" class="btn btn-primary btn-primary-active">Results</a>
</div>