<h3>User Interface Design</h3>

<p>
text
</p>

<form id="inspirationform">
    <textarea cols="30" rows="12" id="inspiration1text">{{ ux2data.inspiration1text }}</textarea>
    <textarea cols="30" rows="12" id="inspiration2text">{{ ux2data.inspiration2text }}</textarea>
    <textarea cols="30" rows="12" id="inspiration3text">{{ ux2data.inspiration3text }}</textarea>
</form>

<a href="page5" class="btn btn-primary btn-primary-active">Back</a>
<a href="page7" class="btn btn-primary btn-primary-active">Continue</a>
