<h3>Step 6: Analysis <button onclick="showHint()" class="btn-hint">?</button></h3>

<div id="hidden-info">
    <p>
        Competitive analysis is an assessment of the strengths and weaknesses of current and potential competitors. 
    </p>
</div>


<p>
    It is important to understand which features are already used by apps like yours to develop an app that is innovative and distinguishable from the rest. This is done through competitive analysis. List a few features implemented in each of the inspirations you found in the last step.
</p>

<br>
<a href="https://www.netdreams.co.uk/blog/competitor-analysis-in-website-design/" target="_blank" class="btn btn-primary btn-primary-active">Learn More</a>
<a href="http://ixd.ucsd.edu/home/w17/assignments/examples/pdfs/competitive_analysis_example.pdf" target="_blank" class="btn btn-primary btn-primary-active">Examples</a>
<br>
<br>

<p>List a few features implemented in each of the inspirations you found in the last step.</p>

<form id="analysisform">
    <textarea cols="30" rows="4" id="analysistext1">{{ ux2data.analysistext1 }}</textarea>
    <br><br>
    <textarea cols="30" rows="4" id="analysistext2">{{ ux2data.analysistext2 }}</textarea>
    <br><br>
    <textarea cols="30" rows="4" id="analysistext3">{{ ux2data.analysistext3 }}</textarea>
</form>

<button class="btn btn-primary btn-primary-active" onclick="showNewSection()">Continue</button>

<div id="new-section">
    <p>
        Now compare each inspiration to see what attributes are missing to get an idea of what unique features you might want to include to make your prototype stand apart. What areas aren't covered that you might want to focus on?
    </p>

    <p>List these ideas below.</p>

    <form id="analysisform">
        <textarea cols="30" rows="4" id="analysistext4">{{ ux2data.analysistext4 }}</textarea>
    </form>

    <a href="page5" class="btn btn-primary btn-primary-active">Previous Step</a>
    <button class="btn btn-primary btn-primary-active" onclick='upData("analysistext", 4, "page7")'>Next Step</button>
</div>


<!----------------------------------- Screen Overlay ---------------------------------->

<div id="myNav" class="overlay">

    <!-- Button to close the overlay navigation -->
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <!-- Overlay content -->
    <div class="overlay-content">
        <div class="container">
            <div class="row top-buffer">
                <div class="col-xs-6">
                    <a href="page1" class="btn btn-default btn-block uxbtn">
                        <div class="btncontent">1<br>USER BASE</div>
                    </a>
                </div>
                <div class="col-xs-6">
                    <a href="page2" class="btn btn-default btn-block uxbtn">
                        <div class="btncontent">2<br>NEEDFINDING</div>
                    </a>
                </div>
            </div>

            <div class="row top-buffer">
                <div class="col-xs-6"> </div>
                <div class="col-xs-6">
                    <a href="page3" class="btn btn-default btn-block uxbtn">
                        <div class="btncontent">3<br>POINT OF VIEW</div>
                    </a>
                </div>
            </div>

            <div class="row top-buffer">
                <div class="col-xs-6">
                    <a href="page5" class="btn btn-default btn-block uxbtn">
                        <div class="btncontent">5<br>INSPIRATIONS</div>
                    </a>
                </div>
                <div class="col-xs-6">
                    <a href="page4" class="btn btn-default btn-block uxbtn">
                        <div class="btncontent">4<br>IDEATION</div>
                    </a>
                </div>
            </div>

            <div class="row top-buffer">
                <div class="col-xs-6">
                    <a href="page6" class="btn btn-default btn-block uxbtn">
                        <div class="btncontent">6<br>ANALYSIS</div>
                    </a>
                </div>
                <div class="col-xs-6"></div>
            </div>

            <div class="row top-buffer">
                <div class="col-xs-6">
                    <a href="page7" class="btn btn-default btn-block uxbtn">
                        <div class="btncontent">7<br>STORYBOARDING</div>
                    </a>
                </div>
                <div class="col-xs-6">
                    <a href="page8" class="btn btn-default btn-block uxbtn">
                        <div class="btncontent">8<br>RESULTS</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
