<h3>Congratulations, you finished! :D</h3>

<div>
    <a href="page10"><img style="max-width: 90%" src="/img/cookie.png"></img></a>
</div>

<h5>Want to reference the data you inputted?</h5>
<h5>Click on the cookie to go to your information!</h5>
<hr>

<a href="page0" class="btn btn-primary btn-primary-active">Home</a>
