<h3>Inspiration Board</h3>

<p>
Now come up with 3 inspirations for your app design. Give a short
explanation for why you chose each one. Include a link so you can
reference it later.
</p>

<form id="inspirationform">
    <textarea cols="30" rows="4" id="inspiration1text">{{ ux2data.inspiration1text }}</textarea>
    <br>
    <textarea cols="30" rows="4" id="inspiration2text">{{ ux2data.inspiration2text }}</textarea>
    <br>
    <textarea cols="30" rows="4" id="inspiration3text">{{ ux2data.inspiration3text }}</textarea>
</form>

<a href="page4" class="btn btn-primary btn-primary-active">Back</a>
<a href="page6" class="btn btn-primary btn-primary-active">Continue</a>
