<p>Tap on a step below to begin</p>

<div>
    <a href="page1" class="btn btn-default btn-block uxbtn btn-b">
        <div class="btncontent">1<br>USER BASE</div>
    </a>
    <br>
    <a href="page2" class="btn btn-default btn-block uxbtn btn-b">
        <div class="btncontent">2<br>NEEDFINDING</div>
    </a>
    <br>
    <a href="page3" class="btn btn-default btn-block uxbtn btn-b">
        <div class="btncontent">3<br>POINT OF VIEW</div>
    </a>
    <br>
    <a href="page5" class="btn btn-default btn-block uxbtn btn-b">
        <div class="btncontent">5<br>INSPIRATIONS</div>
    </a>
    <br>
    <a href="page4" class="btn btn-default btn-block uxbtn btn-b">
        <div class="btncontent">4<br>IDEATION</div>
    </a>
    <br>
    <a href="page6" class="btn btn-default btn-block uxbtn btn-b">
            <div class="btncontent">6<br>ANALYSIS</div>
    </a>
    <br>
    <a href="page7" class="btn btn-default btn-block uxbtn btn-b">
        <div class="btncontent">7<br>STORYBOARDING</div>
    </a>
    <br>
    <a href="page8" class="btn btn-default btn-block uxbtn btn-b">
        <div class="btncontent">8<br>TESTING</div>
    </a>
    <br>
</div>
