<h3>User Base</h3>
<br>
<p>Observe people partaking in various everyday activites and brainstorm
potential app designs that could make those activites more efficient.</p>

<form id="userbaseform">
    <textarea cols="30" rows="12">
    </textarea>
    <br>
    <br>
    <a href="page0" class="btn btn-primary btn-primary-active">Back</a>
    <a href="page2" class="btn btn-primary btn-primary-active">Continue</a>
    <a href="page2" class="btn btn-primary">Continue</a>
</form>
