<h3>Needfinding</h3>
<br>
<p>Use your observations and findings to brainstorm a list of 
specific user needs.</p>
<p>(User needs are opportunities for design innovation that would enable
computers to better support the activity you observed.)</p>
<form>
    1<input type="text" class="text-input" id="needfindtext1" value="{{ ux2data.needfindtext1 }}"></input><br>
    2<input type="text" class="text-input" id="needfindtext2" value="{{ ux2data.needfindtext2 }}"></input><br>
    3<input type="text" class="text-input"></input><br>
    4<input type="text" class="text-input"></input><br>
    5<input type="text" class="text-input"></input><br>
    6<input type="text" class="text-input"></input><br>
    7<input type="text" class="text-input"></input><br>
    8<input type="text" class="text-input"></input><br>
    9<input type="text" class="text-input"></input><br>
    10<input type="text" class="text-input"></input><br>
    <br>

    <a href="page1" class="btn btn-primary btn-primary-active">Previous Step</a>
    <button class="btn btn-primary btn-primary-active" onclick='upDataNoRedir("needfindtext1");upData("needfindtext2", "page3")'>Next Step</button>

</form>