<h3>8. Testing</h3>

<p>
    Now get off that phone and get a friend to help you test your ideas!
</p>

<a href="page7" class="btn btn-primary btn-primary-active">Previous Step</a>
<a href="page9" class="btn btn-primary btn-primary-active">Finish</a>