.uxbtn {
    min-height:70px;
}
.btncontent {
    top: 50%;
    transform: translateY(20%);
}
.top-buffer {
    margin-top:22px;
}
.btn-primary-active { /* back and continue are same width */
    width: 100px;
}

/* The title "UX 2 Learn" now links back to the home page when clicked */
a.home {
    color: #42f489;
    tex-decoration: none;
}

#content {
    padding-left: 5%;
    padding-right: 5%;
}

p.hint {
    font-style: italic;
}

.reallybigtextbox {
    width: 70%;
    height: 50%;
    
}