.col-xs-6 {
    padding-left: 2.2% !important;
    padding-right: 2.2% !important;
}

.uxbtn {
    min-height:70px;

}

/* home page button borders */
.btn-default {
    color: #428bca;
    border-radius: 10px;
    /*
    border-color: #428bca;
    border-width: 3px;
    */
}


.btncontent {
    /* background-color: #00ff72; */
    top: 50%;
    transform: translateY(20%);
}

.top-buffer {
    margin-top:22px;
}

/* back and continue are same width */
.btn-primary-active { 
    /* width: 110px; */
/*    width: 10%;*/
}

/* button for choosing a step in home page */
.btn-hidden-steps {
    background-color: #428bca;
    color: #d6e6f3;
}

/* "?" hint button on task pages */
.btn-hint {
    border-radius: 50%;
    font-size: 12px;
    padding: 1px 2px;
}

/* The title "UX 2 Learn" now links back to the home page when clicked */
a.home {
    /*color: #00ff72;*/
    color: #428bca;
    text-decoration: none;
}

input.text-input {
    border: 1px solid grey;
    width: 59%;
    margin: 0.5% 1%;
}

/* supposed to align the progress bar to the bottom. it looks ugly af. there is this weird div bar showing */
div.progress {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%
}

#content {
    padding-left: 5%;
    padding-right: 5%;
}

#hidden-info {
    display: none;
    font-style: italic;
}

a.btn-b {
    width: 40%;
    margin: 0 auto;
}

/* final message on results page */
.final-message {
    line-height: 200%;
}

/***************************** Home Screen Nav Button **********************************/

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 10%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 10px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
/*
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; 
    transition: 0.3s; 
}
*/
/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 20px;
    }
}

/***************************************************************************************/

/************* for embedded videos **************/
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/************************************************/

.menuButton {
    display: inline-block;
    cursor: pointer;
}

.appName {
    display: inline-block;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #428bca;
    margin: 6px 0;
    transition: 0.4s;
}

